name: first

on: 
    push:
        branches:
            - main
    pull-request:
        branches:
            - main

jobs: 
    job1:
        name: First job
        runs-on: ubuntu-latest
        steps:
            - name: step one
              uses: actions/checkout@v4
            - name: step two
              run: env | sort
    job2: 
        name: Second job
        needs: [job1]
        runs-on: windows-latest
        steps:
            - name: step one
              uses: actions/checkout@v4
            - name: step two
              run: "Get-ChildItem Env: | Sort-Object Name"